streamlit
requests
fastapi
uvicorn[standard]
pydantic
qdrant-client
langchain
openai
sentence-transformers
langchain-qdrant
python-dotenv
langchain-community
fastembed
dotenv
langchain-google-genai
langgraph